<%= turbo_frame_tag bid do %>
  <div class="bid">
    <%= link_to bid.name, bid_path(bid), data: { turbo_frame: "_top" } %>
    <div class="bid__actions">
      <%= button_to bid_path(bid),
                    method: :delete,
                    class: "btn btn-danger" do %>
        <i class="bi bi-trash"></i>
      <% end %>
      <%= link_to edit_bid_path(bid),
                  class: "btn btn-secondary" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
    </div>
  </div>
<% end %>