<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any bids yet!
  </p>

  <%= link_to "Add bid", new_bid_path, class: "btn btn--primary",  data: { turbo_frame: dom_id(Bid.new) } %>
</div>