<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any date yet!
  </p>

  <%= link_to "New date",
                new_bid_line_item_date_path(bid),
                class: "btn btn-primary" ,
                data: { turbo_frame: dom_id(LineItemDate.new) }%>
</div>