<% noti = notification.to_notification%>
<div class="notification p-2 px-3 d-flex align-items-start <%= noti.read? == "Read" ? "" : "bg-light-blue"%>" data-controller="notification" >
  <i class="bi bi-info-circle-fill me-3"></i>
  <div>
    <p class="mb-1"><b>New Bid</b></p>
    <p class="text-gray-700 mb-1">
      <b><%= noti.recipient.name %></b> is created new bid.
    </p>
    <p class="mb-1"><%= noti.message %></p>
  </div>
</div>
