body {
  background-color: #1b2332!important;
  background-image: url('evolution.svg'); 
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}

