<div class="form-control">
  <label class="label"><span class="label-text">Tell me something about yourself</span></label>
  <div class="my-4">
    <%= f.input :bio, as: :text, class: "form-contol" %>
  </div>
</div>
