<div class="form-control">
  <label class="label"><span class="label-text">What country do you live in?</span></label>
  <div class="my-4">
    <%= f.input :country, class: "form-control" %>
  </div>
</div>
