<div class="form-control">
  <label class="label"><span class="label-text">What is your birth date?</span></label>
  <div class="my-4">
    <%= f.input :dob, as: :date, html5: true %>
  </div>
</div>
