.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 9999;
  opacity: 1;
  transition: all 0.5s;

  .spinner-border{
    height: 3rem;
    width: 3rem;
  }

}

.overlay.hide{
  display: none !important;
}



